.bookmarks a {
    padding-right: 1em;
}

body {
    margin: 1em;
}

ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

.tags li {
    padding: 0;
    font-size: 80%;
    display: inline;
    margin: 0 .5em 0 0;
    background: lightblue;
    border-radius: 4px;
    padding: .2em .4em .2em .4em;
}

.tags a {
    color: white;
    text-decoration: none;
    padding: 0;
}
